h1{
    font-family: Algerian;
    font-size: 80px;
    align-items: center;
    color: black;
    
}

p1{
    font-style: italic;
    font-size: 60px;
    color: black;
    float: left;
}

p5{
    font-size: 60px;
    font-family: arial;
    color: blue;
}

.tshakholo img{
    width: 250px;
    height: 350px;
}

img{
    width: 420px;
    height: 450px;
}

body{
    background-color: white;
    background-size: cover;
}

.birthday img{
    width: 320px;
    height: 320px;
}

nav{
    font-size: 30px;
    background-color: transparent;
    height: 100px;
    margin-top: 0%;
    text-align: center;

}

li a{
    margin-left: 70px;
    text-align: center;
    
}

.index img{
    width: 500px;
    height: 500px;
    float: left;
    margin-top: -120px;
}

.index img:hover{
    border: blue;
}

.intro img{
    width: 700px;
    height: 700px;
    margin-left: 340px;
}
a{
    font-family: arial;
    margin-top: 30px;
    margin-right: 20px;
    background-color: transparent;
    border: 3px solid,whitesmoke;
    border-radius: 0.4cm;
    font-size: 40px;
}

a:hover{
    background-color: whitesmoke;
    border: whitesmoke;
    box-shadow: 0 0 100px pink;
}

li{
    list-style: none;
    display: inline;
    margin-top: 20px;
    list-style: lower-alpha;
}

.contacts img{
    width: 70px;
    height: 70px;
}

.contacts li{
    font-size: 30px;
}

p2{
    font-size: 80px;
    font-family: times new roman;
    color: blue;
}

footer{
    background-color: black;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}

p3{
    font-size: 70px;
    font-family: cooper black;
    float: right;
    margin-right: 300px;
    margin-top: 1px;
}

.contacts ul li{
    float: left;
    text-align: left;
    display: inline-flex;
    margin-left: 40px;

}

.best p{
    font-family: cooper black;
    font-size: 60px;
    margin-left: 40px;
    float: left;
}

.main body{
    background-image: url(backgro.jpg);
}